// --------------reset---------------
@import "reset.scss";
//
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #252B42;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    background: linear-gradient( to right, #f7ff84, #abfb86, #45d3f7);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.tasks {
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input {
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 90%;
    input {
        border: 1px solid #a0a0a0;
        border-radius: 5px;
        padding-left: 5px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
    }
}

.btn {
    max-width: 100%;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    background-color: #e9e9e9;
}

.counter {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &__item {
        display: flex;
        flex: 1 1 25%;
        justify-content: center;
        &:hover {
            background-color: #e9cbf7;
        }
    }
    &__all-span {}
    &__checked-span {}
    &__unchecked-span {}
}

.btn-clear {
    min-width: 80px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #e48342;
    &:hover {
        background-color: #f7c7a8;
    }
}

.list {
    display: flex;
    flex-direction: column;
    &__item {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background-color: seashell;
        }
    }
    &__item-text {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1 1 90%;
        padding: 0 10px;
        color: #000;
    }
    &__item-text_through {
        text-decoration: red 2px line-through;
    }
    &__item-delete {
        height: 100%;
        font-size: 22px;
        display: flex;
        flex: 1 1 10%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}